body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  width: 100%;
  height:  100%;
}

.appicon {
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  height: 70px;
  width: 70px;
}

.appicon > * {
  margin: 0;
}

.appicon > p {
  font-family: Arial, sans-serif;
  width: 100%;
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 0.85rem;
}

.appicon > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.widget {
  position: fixed;
  right: 0.2in;
  top: 10px;
}

.modal_overlay {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top:  0;
  bottom:  0;
  left:  0;  
  right:  0; 
  margin:  auto;
  border-radius: 30px;
}

#escmenu_modal {
  width:  350px;
  height: 300px;
  background-color: white; 
}

#escmenu_modal m3e-button {
  position: absolute;
  left:  0;
  right:  0;
  margin:  auto; 
  width: 250px;
  height: auto;
}

#escmenu_modal m3e-button:nth-child(1) {
  margin-top:  50px;
}


#escmenu_modal m3e-button:nth-child(2) {
  margin-top: 125px;
}

#escmenu_modal m3e-button:nth-child(3) {
  margin-top: 200px;
}

#settingsmenu_modal {
  width:  800px;
  height: 500px;
  background-color: white; 
}

#settings_sidebar {
  width: 300px;
}

#change_widget_position_modal_overlay {
  background-color: rgba(0, 0, 0, 0.0);
  z-index: -1;
}

#change_widget_position_modal {
  margin-top: 500px;
  width: 600px;
  height: 300px;
  background-color: white; 
}

#add_newapp_modal_overlay {
  background-color: rgba(0, 0, 0, 0.0);
  z-index: -1;
}

#add_newapp_modal {
  margin-top: 500px;
  width: 300px;
  height: 300px;
  background-color: white; 
}